In [ ]:
import numpy as np

In [ ]:
print(np.__version__)

1.19.5

In [ ]:
print ("Hello, word!")

Hello, word!

In [ ]:
print("Nama saya (Syawaludin Fazri)")

Nama saya (Syawaludin Fazri)

In [ ]:
print("NIM Saya (2020071004)")

NIM Saya (2020071004)

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4
x = "sally"
print(x)

sally

In [ ]:
def getFirst(myList):
    return myList[0]

In [ ]:
getFirst([1,2,3])

1

In [ ]:
getFirst([1,2,3,4,5,6,7,8,9,10])

1

In [29]:
def getSecond(myList):
    return myList[1]

In [31]:
getSecond([2,3,4])

3

In [34]:
def getLast(myList):
    return myList[-1]

In [35]:
getLast ([1,2,3,4])

4

In [36]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum

In [37]:
getSum([1,2,3,4,])

10

In [38]:
getSum([1,2,3])

6

In [43]:
def getKali(myList):
    sum = 1
    for item in myList:
        sum = sum*item
    return sum

In [44]:
getKali([5,2])

10

In [56]:
def getBagi(myList):
    Bagi = 100
    for item in myList:
      Bagi = Bagi/item
    return Bagi

In [59]:
getBagi([10,5])

2.0

In [66]:
def getSum(myList):
  sum = 0
  for row in myList:
      for item in row:
          sum += item
  return sum
getSum([[1,2,5,],[3,4,7]])

22

In [67]:
def getSum(myList):
  sum = 1000
  for row in myList:
      for item in row:
          sum /= item
  return sum
getSum([[10,2],[5,1]])

10.0

In [68]:
def getSum(myList):
  sum = 100
  for row in myList:
      for item in row:
          sum -= item
  return sum
getSum([[10,5],[5,25]])

55

In [74]:
def searchBinary(myList,item):
  first = 0
  last = len(myList)-1
  foundFlag = False
  while( first<=last and not foundFlag):
    mid = (first + last)//2
    if myList[mid] == item :
        foundFlag = True
    else:
        if item < myList[mid]:
            last = mid - 1
        else:
            first = mid + 1
  return foundFlag

In [75]:
searchBinary([8,9,10,100,1000,2000,3000],10)

True

In [76]:
searchBinary([8,9,10,100,1000,2000,3000],4)

False